<!-- Copyright 2015 Ryan B. Hicks -->

<!-- preamble -->

<template name="preamble">

  <div class="jumbotron">
    <h1>Jumbotron{{>showHelp 'help-name'}}</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing.</p>

    <a role="button" href="/exposure_overview.html" target="_blank" class="btn btn-primary btn-lg">Learn more</a>

  </div>

</template>
