<!-- login -->

<template name="login">

  <div style="margin-left: 10px; float: left">
    <!-- START panel-->
    <div style="width: 150px; display: inline-block;" class="panel panel-default">
      <div class="panel-heading">Facebook</div>
      <div class="panel-body">
            <label>Account Name</label>
            <input type="text" id="facebookAccountName" placeholder="Enter Name" class="form-control">
          <input type="button" id="facebookLogin" class="btn btn-sm btn-default" value="login"/>
      </div>
    </div>
    <!-- END panel-->
    <!-- START panel-->
    <div style="width: 150px; display: inline-block;" class="panel panel-default">
      <div class="panel-heading">Instagram</div>
      <div class="panel-body">
            <label>Account Name</label>
            <input type="text" id="instagramAccountName" placeholder="Enter Name" class="form-control">
          <input type="button" id="instagramLogin" class="btn btn-sm btn-default" value="login"/>
      </div>
    </div>
    <!-- END panel-->
    <!-- START panel-->
    <div style="width: 150px; display: inline-block;" class="panel panel-default">
      <div class="panel-heading">Tumblr</div>
      <div class="panel-body">
            <label>Account Name</label>
            <input type="text" id="tumblrAccountName" placeholder="Enter Name" class="form-control">
          <input type="button" id="tumblrLogin" class="btn btn-sm btn-default" value="login"/>
      </div>
    </div>
    <!-- END panel-->
    <!-- START panel-->
    <div style="width: 150px; display: inline-block;" class="panel panel-default">
      <div class="panel-heading">Twitter</div>
      <div class="panel-body">
            <label>Account Name</label>
            <input type="text" id="twitterAccountName" placeholder="Enter Name" class="form-control">
          <input type="button" id="twitterLogin" class="btn btn-sm btn-default" value="login"/>
      </div>
    </div>
    <!-- END panel-->
    <!-- START panel-->
    <div style="width: 150px; display: inline-block;" class="panel panel-default">
      <div class="panel-heading">Youtube</div>
      <div class="panel-body">
            <label>Account Name</label>
            <input type="text" id="youtubeAccountName" placeholder="Enter Name" class="form-control">
          <input type="button" id="youtubeLogin" class="btn btn-sm btn-default" value="login"/>
      </div>
    </div>
    <!-- END panel-->
  </div>

</template>
